@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    padding-bottom: 10px;
}
.header-wrapper {
    max-width: 1240px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 10px;
}
nav {
    flex-grow: 1;
}
nav ul {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
}
nav li {
    margin: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.but a {
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
ul a {
    text-decoration: none;
}
.container {
    width: 1280px; 
    margin-right: auto;
    margin-left: auto;
}
.banner {
    overflow: hidden;
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 45px;
    max-width: 1280px;
    border-radius: 30px;
}
.bannerup {
    overflow: hidden;
    max-width: 1280px;
    position: relative;
    margin: auto;
}
.bannerup img {
    margin-top: 10px;
    min-width: 500px;
    width: 1280px;
    border-radius: 30px;
    vertical-align: middle;
}
.image_slider {
    display: none;
}
.dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    margin-top: 10px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    margin-bottom: 45px;
}
.active {
    background-color: #1CBFA2;
}
.fade {
    -webkit-animation-name: fade-image;
    -webkit-animation-duration: 1.5s;
    animation-name: fade-image;
    animation-duration: 1.5s;

}
@keyframes fade-image {
    from {opacity: .4;}
    to {opacity: 1;}
}
@-webkit-keyframes fade-image {
    from {opacity: .4;}
    to {opacity: 1;}
}
h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
} 
.card {
    flex: 1 1 280px;
    margin:10px;
    border-radius: 15px;
}
.headr {
    height: 70px;
}
.body a {
    padding:15px 70px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    bottom:0;
}
.knop {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
}
img {
    max-width: 100%;
    margin: 0 auto;
    display: block;

}
.card .body {
    padding: 10px;
    font-size:14px;
    border-radius: 0px 0px 15px 15px;
}
.aboutcactus {
    overflow: hidden;
    min-height: 50px;
    margin-top: 15px;
    margin-bottom: 45px;
}
.aboutcactus img {
    min-width: 500px;
    width: 1280px;
    border-radius: 30px;   
}
.cardteam {
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 45px;
  }

.slider__wrapper {
    overflow: hidden;
  }

.slider__item {
    flex: 0 0 33.333%;
    max-width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
  }

.slider__item:nth-child(1) {
    background-color: transparent;
  }

.slider__item:nth-child(2) {
    background-color: transparent;
  }

.slider__item:nth-child(3) {
    background-color: transparent;
  }
.slider__item:nth-child(4) {
    background-color: transparent;
  }

.slider__item:nth-child(5) {
    background-color: transparent;
  }

.slider__item:nth-child(6) {
    background-color: transparent;
    
  }
h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 10px;
    font-weight: 700;
    font-size: 32px;  
}
footer {
    height: 60px;
    background-color: #000000;
    padding: 10px;
}
.footer-wrapper {
    max-width: 1240px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}
.social {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.media {
    padding: 0 10px;
}
.theme-button {
	position: absolute;
	right: 20px;
	top: 20px;
	display: inline-block;
	padding: 10px 25px;
	cursor: pointer;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
}